@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Sofia');

* {
	box-sizing: border-box;
}

header  {
	height: 15em;
	width: 100%;
	min-width: 1em;
	margin-bottom: 0.5em;
	
    background: url("../images/bungalow_full_hd.jpg") left bottom;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
	border-radius: 10em;
}

body {
	background-color: #333333;
	margin: 0;
	min-width: 20em;
}

@media only screen and (min-width: 730px) {
	body {
		width: 80%;
		max-width: 70em;
		margin: 0 auto;
	}
}

nav {
	text-align: center;
	font-family: 'Sofia', serif;
	font-weight: 500;
	font-size: 1.5em;
	
	border-top: 0.2em solid white;
	border-bottom: 0.2em solid white;
	
	margin: 0.2em 0px;
	padding: 0.2em 0;
	
	height: 100%;
	min-width: 10em;
	min-height: 3em;
	
}

nav a {
	text-decoration: none;
	text-transform: capitalize;
	color: #eeeeee;
	
	border: 0.1em solid white;
    border-radius: 1em;
    	
	min-width: 1em;
	padding: 0.2em 0.5em;
	margin: 0.4em;
	
	display: inline-block;
	
	white-space: nowrap;
}

@media only screen and (min-width: 730px) {
	nav a {
		margin: 0.4em;
	}
	nav a:last-child {
		margin-right: 0em;
	}
}

nav a:hover { 
    background-color: #0a9a40;
}
