@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Sofia');
@import 'subPageMenu.css';

html,body {
	color: #eeeeee;
	margin: 0;
	min-width: 20em;
	
	background-image: url('../images/tree_full_hd.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.message {
    display: none;
    
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #fe3401;
    
    margin-top: 1em;
}

caption {
	font-weight: 500;
	font-family: 'Sofia', serif;
	font-size: 2em;
	text-transform: capitalize;
	padding: 0;
}

@media only screen and (min-width: 730px) {
	caption {
		padding: 0.5em 0;  
	}
}

.action {
	text-decoration: none;
	font-weight: 700;
	color: #eeeeee;
	border: 0.1em solid white;
    border-radius: 1em;
    padding: 0.2em 0.5em;
    background-color: #000000;
}

.action:hover {
	background-color: #ff2020;
}

/******************** The list table ***********************/

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    display:block;
    overflow-y: auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

th, td {
    text-align: left;
    padding: 0.5em;
}

th {
	font-size: 1em;
	border-bottom: 0.3em solid black;
	background-color: rgba(132, 89, 15,0.6);	
}

tr:nth-child(odd){
	background-color: rgba(0, 0, 0, 0.6);
}

tr:nth-child(even){
	background-color: rgba(51, 51, 51, 0.6);
}

#reservation-list {
	overflow-x: auto;
}

@media only screen and (min-width: 730px) {
	#reservation-list {
		margin: auto;
	    width: 80%;   
	}
}

/*********************** nextButton **********************/

#navigatorButtons {
	text-align: center;
}

.nextButton, .prevButton {
	font-size: 1.5em;
	font-family: 'Sofia', serif;
	text-transform: uppercase;
	
	border: 0.1em solid white;
	border-radius: 1em;
	
	display: inline-block;
	
	padding: 0em 0.5em;
	margin: 0.2em;
	
	cursor: pointer;
	
	background-color: #000000;
}

.nextButton:hover, .prevButton:hover {
	background-color: #25e025;
}




