@CHARSET "ISO-8859-1";

@import 'subPageMenu.css';

body {
	background-color: #333333;
	margin: 0;
	min-width: 20em;
	min-height: 20em;
	
	color: #eeeeee;
	
	background-image: url('../images/tree_full_hd.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

/************* FORM ******************/
* {
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 0.4em;
    border: 0.1em solid #ccc;
    border-radius: 1em;    
}

input[name=owner] {
	resize: vertical;
}

label {
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.2em;
}


.container {
    border-radius: 1em;
    background-color: rgba(51,51,51,0.7);
    padding: 1em;
    width: 100%;
    max-width: 40em;
    margin: 3em auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 0.3em;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 0.3em;
}

.row {
	padding: 0.5em;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 730px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .container {
   		max-width: 100%;
   		margin: 0;
	}
}

/************ FORM END ****************/

button {
	width: 100%;
	margin-top: 1em;
	height: 2em;
	border-radius: 2em;
	border: 0.1em solid white;
	color: white;
	font-size: 1em;
	font-weight: bold;
	background-color: #222222;
	cursor: pointer;
	letter-spacing: 0.1em;
	
}

button:hover {
	background-color: #36d524;
}

.message {
    display: none;
    
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #fe3401;
    
    margin-top: 1em;
}

#reservation-successful-message {
	font-size: 2em;
	color: #36d524;
	margin: 0 auto;
	background-color: rgba(51,51,51,0.7);
	max-width: 40em;
	border-radius: 1em;
}

