@charset "UTF-8";

/* Formating the submenu of the subpages (back to home button etc) */

#backToHome {
	width: 10em;
	margin-left: 1em;
	
	text-decoration: none;
	text-transform: capitalize;
   	font-size: 1em;
	font-weight: bold;
	 
    padding: 0.3em 0.5em;
	
	border-radius: 2em;
	border: 0.1em solid white;
	
	display: block;
	
	color: white;
	background-color: #222222;
	
	cursor: pointer;
	white-space: nowrap;
	
	box-sizing: border-box	
}

#backToHome:hover {
	background-color: #36d524;
}

div#menu {
	padding: 0.5em 0;
	background-color: #222222;
	min-height: 2em;
	border-radius: 0.5em 0.5em 0 0;
	border-bottom: 0.2em solid white;
}


@media only screen and (min-width: 730px) {
	div#menu {
		margin: auto;
	    width: 80%;   
	}
}